ellipse()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
local_menu()
  flex :1
  text-align center
  height $headerHeight
  line-height $headerHeight
  border-right 0.02rem solid #eee




